a.button {
    display: inline-block;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #EAECF0;
    border-radius: 8px;
    color: #101828;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    position: relative;
}

a.button span {
    display: none;
}

a.button:hover {
    background-color: #D0D5DD;
}

a.button:hover span {
    display: block;
    position: absolute;
    bottom: -25px;
    background-color: #101828;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
}

a.button span::before {
    content: "";
    position: absolute;
    top: 5px;
    border-radius: 2px;
    width: 15px;
    background-color: #101828;
    height: 15px;
    left: 50%;
    transform: rotate(45deg) translate(-50%, -50%);
}



@media (max-width: 768px) {
    a.button {
        height: 68px;
        font-size: 14px;
    }
}