.profile {
    margin-bottom: 56px;
    margin-top: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
}
.profile-wrapper {
    max-width: 1152px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.profile-img {
    height: 88px;
    width: 88px;
    border-radius: 88px;
    /* background-color: red; */
    overflow: hidden;
    position: relative;
    animation: pulse 1.2s infinite alternate;
}

.profile-img .hover {
    display: none;
    position: absolute;
    inset: 0;
    background-color: rgba(52, 64, 84, 0.75);
    justify-content: center;
    align-items: flex-end;
}

.profile-img:hover .hover {
    display: flex;
}


.profile-img .hover img {
    margin-bottom: 8px;
    height: 24px;
    width: 24px;
}

.profile-img img {
    width: 100%;
}

.profile-name {
    font-weight: 700;
    font-size: 20px;
    color: #101828;
    text-transform: capitalize;
}

.share {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    /* background-color: red; */
    position: absolute;
    transform: translate(-50%, -50%);
    top: 0;
    right: 200px;
    border: 2px solid #D0D5DD;
    border-style: dotted;
}

.share:hover {
    animation: smallPulse 1s infinite alternate;
}

.options {
    width: 40px;
    height: 40px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    /* background-color: red; */
    position: absolute;
    transform: translate(-50%, -50%);
    top: 0;
    right: 200px;
    border: 2px solid #D0D5DD;
    border-style: dotted;
}

.options:hover {
    animation: smallPulse 1s infinite alternate;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #EBE9FE;
    }
    
    100% {
        box-shadow: 0 0 0 8px #EBE9FE;
    }
}

@keyframes smallPulse {
    0% {
        box-shadow: 0 0 0 0 #EBE9FE;
    }

    100% {
        box-shadow: 0 0 0 3px #EBE9FE;
    }
}

@media (max-width: 765px) {
    .share {
        display: none;
    }
    
    .options {
        right: -20px;
        display: flex;
    }
}